.quote{
  position: absolute; 
  left:0;
  background-image: none !important;
  background-color: #ffcc00;
}
.quote:hover{
  background-color: #ffcc00;
}
.container {
  margin-right: auto;
  margin-left: auto;
  position: relative !important;
  *zoom: 1;
}